.mdl-card {
	width: 80%;
	left: 10%;
	margin-top: 5%;
}

.inline {
	display: inline-block;
}

form {
  display: table;
}

label {
  display: table-row;
}

select {
	margin-left: 0px;
	margin-right: 70px;
	display: inline-block;
	height: 30px;
	width: 150px;
	outline: none;
	color: #74646e;
	border: 1px solid #C8BFC4;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px #ddd8dc;
	background: #fff;
}
