@charset "utf-8";

@media screen {
	body {
		height: 100%;
		width: 70%;
		vertical-align: middle;
		margin: auto;
		background-image: url("img/background.jpg");
		min-width: 650px;
	}
}

header {
	padding: 50px;
	background: grey;
}

footer {
	padding: 100px;
	background: grey;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
 	position: absolute;
 	width: 150px;
 	height: 160px;
	margin-left: -5px;
}

div#main-text {
	margin-left: 200px;
	border-left: 4px solid black;
	line-height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li.dropbtn,  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#nav-sign {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(200px, auto);
}

article {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	background-color: grey;
	font-size: 17px;
}

#additional {
	grid-column: 1 / 4;
	grid-row: 3 / 5;
	background-color: yellow;
}

#buffer {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	background-color: grey;
}

.sign-box {
	position: relative;
	width: 300px;
	height: 220px;	
	background-color: white;
	padding-top: 10px;
	color: white;
}

div.top-foot {
	grid-column: 1 / 4;
	padding: 200px;
	background-color: white;
}

.search-query input[type=text] {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 23px;
	font-size: 11px;
	background-color: #D3D3D3;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 8px 20px 8px 45px;
	transition: width 0.4s ease-in-out;
}

div.search-query {
	background-color: white;
	padding-top: 24px;
	padding-bottom: 5px;
}

input[type=text]:focus {
    background-color: white;
}

form {
	padding-left: 25%;
}

/* ------------------------- Overlay ---------------------------- */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay-off {
    margin-left: 91%;
}

/* ------------------------------------ Click on login and Sign Up to  changue and view the effect --------------------------------------- */

.main-overlay * {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.cotn_principal {
	position: absolute;
	width: 100%;
	height: 100%;
	
}

.cont_centrar {
	position: relative;
	float: left;
	width: 100%;
}

.cont_login {
	position: relative;
	width: 640px;
	left: 50%;
	margin-left: -320px;
}

.cont_back_info {  
	position: relative;
	float: left;
	width: 640px;
	height: 280px;
	overflow: hidden;
	background-color: #fff;
	margin-top: 100px;
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
}

.cont_forms {
	position: absolute;
	overflow: hidden;
	top:100px;
	left: 0px;
	width: 320px;
	height: 280px;
	background-color: #eee;
	transition: all 0.5s;
}

.cont_forms_active_login {
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
	height: 420px;  
	top:20px;
	left: 0px;
	transition: all 0.5s;
}

.cont_forms_active_sign_up {
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
	height: 420px;  
	top:20px;
	left:320px;
	transition: all 0.5s;
}

.cont_img_back_grey {
	position: absolute;
	width: 950px;
	top:-80px;
	left: -116px;
}

.cont_img_back_grey > img {
	width: 100%;
	filter: grayscale(100%);
	opacity: 0.2;
	animation-name: animar_fondo;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.cont_img_back_ {
	position: absolute;
	width: 950px;
	top:-80px;
	left: -116px;
}

.cont_img_back_ > img {
	width: 100%;
	opacity: 0.3;
	animation-name: animar_fondo;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
	top:0px;  
	transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
	top:0px;  
	left: -435px;
	transition: all 0.5s;
}
 

.cont_info_log_sign_up {
	position: absolute;
	width: 640px;
	height: 280px;
	top: 100px;
	z-index: 1;
} 

.col_md_login {
	position: relative;
	float: left;
	width: 50%;
}

.col_md_login > h2 {
	font-weight: 400;
	margin-top: 70px;
	color: #757575;
}

.col_md_login > p {
	font-weight: 400;
	margin-top: 15px;
	width: 80%;
	color: #37474F;
	}

.btn_login { 
	background-color: #26C6DA;
	border: none;
	padding: 10px;
	width: 200px;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.col_md_sign_up {
	position: relative;
	float: left;
	width: 50%;  
}

.cont_ba_opcitiy > h2 {
	font-weight: 400;
	color: #fff;
}

.cont_ba_opcitiy > p {
	font-weight: 400;
	margin-top: 15px;
	color: #fff;
}

/* ---------------------------------- background text------------------------------------ */

.cont_ba_opcitiy {
	position: relative;
	background-color: rgba(120, 144, 156, 0.55);
	width: 80%;
	border-radius:3px;
	margin-top: 60px;
	padding: 15px 0px;
}

.btn_sign_up { 
	background-color: #ef5350;
	border: none;
	padding: 10px;
	width: 200px;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.cont_forms_active_sign_up {
	z-index: 2;  
}

@keyframes identifier {
	from transform: scale(1);
	to transform: scale(1.5);
}
.cont_form_login {
	position: absolute;
	opacity: 0;
	display: none;
	width: 320px;
	transition: all 0.5s;
}

.cont_forms_active_login {
	z-index: 2;  
}

.cont_form_sign_up {
	position: absolute;
	width: 320px;
	float: left;
	opacity: 0;
	display: none;
	transition: all 0.5s;
}

  
.cont_form_sign_up > input {
	text-align: left;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 260px;
	border: none;
	color: #757575;
}

.cont_form_sign_up > h2 {
	margin-top: 50px; 
	font-weight: 400;
	color: #757575;
}


.cont_form_login > input {
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 260px;
	border: none;
	text-align: left;
	color: #757575;
}

.cont_form_login > h2 {
	margin-top: 110px; 
	font-weight: 400;
	color: #757575;
}
.cont_form_login > a,.cont_form_sign_up > a  {
	color: #757575;
	position: relative;
	float: left;
	margin: 10px;
	margin-left: 30px;
}
