@media screen {
	body {
		height: 100%;
		width: 70%;
		vertical-align: middle;
		margin: auto;
		background-image: url("img/background.jpg");
	}
}

header {
	padding: 50px;
	background: grey;
}

footer {
	padding: 100px;
	background: grey;
}

nav {
    position: sticky;
    top: 0;
}

div.search-query {
	background-color: white;
	padding: 24px;
}

form {
	position: absolute;
	right: 15%;
}

 #logo {
 	position: absolute;
 	width: 150px;
 	height: 160px;
	margin-left: -5px;
}

div#main-text {
	margin-left: 200px;
	border-left: 4px solid black;
	line-height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li.dropbtn,  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 10px;
}

article {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	background-color: grey;
	font-size: 30px;
}

aside {
	grid-column: 3;
	grid-row: 1 / 5;
	background-color: grey;
	font-size: 30px;
}

div.top-foot {
	grid-column: 1 / 4;
	padding: 200px;
	background-color: white;
}
